table, th, td {
    border: 1px solid rgb(18, 43, 134);
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    
    width: 500px;  
    text-align: center;  
    font-size: 22px;

 }
td {
    color: #ffff;
}
table {
    text-align: center;
}

 h1 {
    color: #0000;
    font-family: 'Avenir', Courier;
 }



 body {
    text-align: center;
    color: #0000;
    font-family: 'Avenir', sans-serif;
    background-color: #ffff;
 }


 body {
  margin:40px;
}
* {
  box-sizing: border-box;
}
input {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}
p {
  color:#0000;
}
